<div>
  <mat-card>
    <mat-card-header>
    <mat-card-title>Registrar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingresa tu contraseña" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nombre del equipo</mat-label>
          <input type="email" matInput formControlName="nameTeam">
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onSubmit()">Ingresar</button>
        </mat-card-actions>
        <mat-card-actions>
          <button type="button" mat-button (click)="goLogin()">Ya tengo cuenta</button>
        </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

</div>
