<mat-toolbar class="mat-elevation-z3" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Business</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [style.width]="'250px'">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Salas</a>
      <a mat-list-item routerLink="/winners">Ganadores</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
